#appeal {
    display: none;
}

.page-title h1{
    font-size: 50pt;
    margin-left: 5vw;
}

.main-article {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.fallacy-example {
    display: flex;
}

.fallacy-image {
    width: 35vw;
    border-radius: 5px;
}

.description {
    font-size: 50pt;
}

.fallacy-button {
    border: 2px solid white;
    background-color: #E4C7FE;
    border-radius: 5px;
    width: 14vw;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 40pt;
    position: relative;
    left: 12.5%;
}

.right-side {
    margin-top: 5%;
}

#buttons {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 85px;
}