#fallacyselector {
    display: none;
}

.options {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 25vh;
}

#option1 button {
    border: 1px solid white;
    background-color: #E4C7FE;
    border-radius: 5px;
    width: 13vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: larger;
    position: relative;
    left: 12.5%;
    margin-top: 20px;
}

#option2 button {
    border: 1px solid white;
    background-color: #E4C7FE;
    border-radius: 5px;
    width: 13vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: larger;
    position: relative;
    left: 12.5%;
    margin-top: 20px;
}


#option3 button {
    border: 1px solid white;
    background-color: #E4C7FE;
    border-radius: 5px;
    width: 13vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: larger;
    position: relative;
    left: 12.5%;
    margin-top: 20px;
}


.fallacy-pics {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    filter: blur(2px);
}

