#genetic {
    display: none;
}

.page-title {
    font-size: 48pt;
    margin-left: 5vw;
    font-family: 'Permanent Marker', cursive;
}

.main-article {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}

.fallacy-example {
    display: flex;
}

.fallacy-image2 {
    width: 35vw;
    border-radius: 5px;
}

.description {
    font-size: 50pt;
}

.fallacy-button {
    border: 2px solid white;
    background-color: #E4C7FE;
    border-radius: 5px;
    width: 13vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: larger;
    position: relative;
    left: 12.5%
}

.right-side {
    margin-top: 2%;
}

#buttons {
    display: flex;
    justify-content: space-around;
    position: relative;
    right: 85px;
}