#mainpage {
    display: block;
}

#title-main {
    font-size: 75pt;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25vh;
    top: 40px;
}

.tpOptions {
    width: 75%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 12.5%;
    top: 60%;
}

#tutorial-nav {
    border: 2px solid white;
    background-color: #A0FBEB;
    border-radius: 10px;
    width: 10vw;
    height: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 24pt;
}

#fallacies {
    border: 2px solid white;
    background-color: #E4C7FE;
    border-radius: 10px;
    width: 15vw;
    height: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 24pt;
}

#quiz-select {
    border: 2px solid white;
    background-color: #C2F8B6;
    border-radius: 10px;
    width: 10vw;
    height: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 24pt;
}