#quiz-body{
	font-size: 18pt;
  font-weight: 300;
  text-align: center;
  display: none;
  margin-top: 10vh;
}

#quiz-title{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 40pt;
  display: flex;
  justify-content: center;
  margin-top: 2vh; 
}

.quizImg {
  width: 350px;
  height: 300px;
}

.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
.quiz-button{
  font-size: 22px;
  border: 2px solid white;
	background-color: #C2F8B6;
	border-radius: 5px;
	padding: 20px;
	cursor: pointer;
  position: relative;
  margin: 10px;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin-top: 40px;
}


#quiz-button-container {
  display: flex;
  justify-content: center;
}