#sidebar-menu {
    display: flex;
    position: absolute;
    top: 0;
}

body, html{
    margin: 0;
}

.material-icons.md-48 {
    font-size: 48px; 
    position: absolute;
    left:0px;
    transition:left 1s
}

#content{
    min-width: 100vw;
    min-height: 100vh;
}

#sidebar{
    width: 300px;
    min-width: 200px;
    height: 100vh;
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left:-300px;
    transition:left 1s;
}

.menu-button {
    transition:left 1s
}

button{
    width: 200px;
    height: 75px;
    /* display: block;
    margin: auto; */
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 30px;
    border: 2px solid white; 
}

#home{
    background-color: rgb(234, 243, 107)
}
#tut{
    background-color: #A0FBEB
}

#quiz-menu{
    background-color: #90EE90
}

#quiz{
    background-color: #90EE90
}
