#tutorialpage {
    display: none;
}

#tutorial{
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin-bottom: 40px;
}

#tuthead{
    font-size: 65pt;
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: 'Permanent Marker', cursive;
}

h2{
    padding-top: 20px;
}

.tut-image{
    max-width: 700px;
    margin-right: 40px;
    border: 3px solid black;
}

#tut-steps {
    margin: 50px;
}

#step1{
    display: block;
}
#step2{
    display: none;
}
#step3{
    display: none;
}
#step4{
    display: none;
}

.tut-buttons{
    width: 200px;
    height: 75px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 30px;
    border: 2px solid white; 
}

#tutback{
    background-color: #A0FBEB;
    margin-right: 10px;
    display: none
}
#tutnext{
    background-color: #A0FBEB;
    margin-left: 10px;
}
#tuthome{
    background-color: #A0FBEB;
    margin-right: 10px;
    display:block;
}

#tutbuttons{
    display: flex;
    justify-content: center;
    margin: 20px;
}
